@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.react-tagsinput {
  overflow: hidden;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.react-tagsinput-tag {
  background-color: #27272a; /* zinc-800 */
  color: #3b82f6; /* blue-500 */
  border-radius: 6px;
  border: 1px solid #3b82f644;
  display: inline-block;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 2px;
  padding: 4px 8px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
  margin-left: 4px;
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #d4d4d8;
  font-family: sans-serif;
  font-size: 14px;
  outline: none;
  padding: 8px;
  width: 150px;
}
